@model Collecting.Models.Items

@{
    ViewData["Title"] = "Add";
}

<h1>Add</h1>

<h4>Items</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="add" asp-controller="home" asp-route-temp=@ViewBag.Id >
            <p>
                <label asp-for="Name" class="control-label" >Имя</label><br />
                <input type="text" asp-for="Name" class="form-control" />
            </p>
            <p>
                <input type="submit" value="Отправить" class="btn btn-primary" />
            </p>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
