@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model Collecting.Models.Collection
 
<h2>@Localizer["Collection"] </h2>
<form asp-action="create" asp-controller="home">
    <p>
        <label asp-for="Name" class="control-label" >@Localizer["Name"] </label><br />
        <input type="text" asp-for="Name" class="form-control" />
    </p>
    <p>
        <input type="submit" value=@Localizer["Create"] class="btn btn-primary" />
    </p>
</form>