@model Collecting.Models.Collection
 
<h2>Добавление пользователя</h2>
<form asp-action="create" asp-controller="home">
    <p>
        <label asp-for="Name" class="control-label" >Имя</label><br />
        <input type="text" asp-for="Name" class="form-control" />
    </p>
    <p>
        <input type="submit" value="Отправить" class="btn btn-primary" />
    </p>
</form>